[submodule "RelationalDeepLearning"]
	path = RelationalDeepLearning
	url = https://github.com/sebdumancic/RelationalDeepLearning.git
[submodule "pinacs"]
	path = pinacs
	url = git@github.com:sebdumancic/simple-top-viewer.git
